DB_URL=mongodb+srv://abdulfattoh:2508@test.w5p4kgy.mongodb.net/products
# DB_URL=mongodb://localhost:27017/products

PORT=3000

NODE_ENV=development
# NODE_ENV=production

# JWT

# ACCESS
ACCESS_TOKEN_SECRET=secret
ACCESS_TOKEN_EXPIRES_IN=1h

# REFRESH
REFRESH_TOKEN_SECRET=secret
REFRESH_TOKEN_EXPIRES_IN=7d